# List
    Collection of different data elements[Numbers,Strings,Boolean values]
    Enclosed with square bracket
    Ordered,indexed,Changeable
    Duplicate values are allowed

In [1]:
x=[21,34,56,56]
print(x.index(56))
print(x.count(56))
print(x[-5])

2
2

IndexError: list index out of range

In [3]:
li=[1,2,3,'apple',7,9,True]
print("List elements is",li) #To print list
print("Length of list is",len(li)) #To print length of list
print("Type of List is",type(li)) #To print data type of variable

List elements is [1, 2, 3, 'apple', 7, 9, True]
Length of list is 7
Type of List is <class 'list'>

In [2]:
#To Add element
li=[1,2,3,'apple',7,1,9,True]
li.append(33)
print(li)
print(li.count(1))

[1, 2, 3, 'apple', 7, 1, 9, True, 33]
3

In [1]:
#Adding an element
li=[1,2,3,'apple',7,9,True]
li.append(33)
print("Append value is",li)  #adds only one element at the end of list
li.extend([10,20,30])       #adds multiple values at the end of list
print("Multiple values added in the lis is",li)
li.insert(4,700)             #inserts data @position 4
print("New added value at index position 4 is",li)

Append value is [1, 2, 3, 'apple', 7, 9, True, 33]
Multiple values added in the lis is [1, 2, 3, 'apple', 7, 9, True, 33, 10, 20, 30]
New added value at index position 4 is [1, 2, 3, 'apple', 700, 7, 9, True, 33, 10, 20, 30]

In [6]:
li=[1,2,3,'apple',7,9]
print("Pop element is",li.pop())  #deletes last element
print(li)
print("pop element using index position",li.pop(0))  #deletes value from index position
print("Removed Element is",li.remove('apple')) #removes particular value
print(li)

Pop element is 9
[1, 2, 3, 'apple', 7]
pop element using index position 1
Removed Element is None
[2, 3, 7]

In [7]:
print(li)

[2, 3, 7]

In [8]:
lis=[10,20,30,False,90,77]
del lis[3]     #Deletes list from index position
print('Deleted list is',lis)
lis.clear()     #Clears the list
print("Cleared list is",lis)

Deleted list is [10, 20, 30, 90, 77]
Cleared list is []

In [28]:
del lis   #Deletes list
print(lis) #list is not available as it is deleted

NameError: name 'lis' is not defined

# Slicing
variable[startvalue:stopvalue]
variable[startvalue:stopvalue:stepvalue]

In [2]:
x=[12,13,56,89,56,34,'red','orange',78,90]
print("4th element is",x[4])
print('last element in the list',x[-1])
print('list ranges from 2 to 4 is',x[2:4])
print('list ',x[1::2])
print('list values with step value is',x[::3])
print('list values',x[:5])
print('list is',x[3:])
print(x[::-1])
print("new slicing list",x[3:9:2])
print('list without start and stop value is',x[::])
print('Reverse list is',x[-7:-2:2])

4th element is 56
last element in the list 90
list ranges from 2 to 4 is [56, 89]
list  [13, 89, 34, 'orange', 90]
list values with step value is [12, 89, 'red', 90]
list values [12, 13, 56, 89, 56]
list is [89, 56, 34, 'red', 'orange', 78, 90]
[90, 78, 'orange', 'red', 34, 56, 89, 56, 13, 12]
new slicing list [89, 34, 'orange']
list without start and stop value is [12, 13, 56, 89, 56, 34, 'red', 'orange', 78, 90]
Reverse list is [89, 34, 'orange']

In [11]:
list1=[2,1,67,34,89,23]
list1.reverse()
print('Reverse list',list1)
list1.sort()   #prints list in Ascending order
print('Ascending order',list1)


list1.sort(reverse=True) #prints list in Descending order
print('Descending order',list1)

Reverse list [23, 89, 34, 67, 1, 2]
Ascending order [1, 2, 23, 34, 67, 89]
Descending order [89, 67, 34, 23, 2, 1]

In [19]:
print('Reverse list',list1[::-1])  #Reverses list

Reverse list [1, 2, 23, 34, 67, 89]

In [34]:
print('Sum of Numbers in the list is',sum(list1)) #Sums the values in the list

Sum of Numbers in the list is 216

In [12]:
print('Maximum Number in the list is',max(list1))  #prints max number

Maximum Number in the list is 89

In [13]:
print('Minimum Number in the list',min(list1))  #prints min number
print('No of times repeated value is',list1.count(89))

Minimum Number in the list 1
No of times repeated value is 1

In [2]:
str1=['apple','kiwi','orange','banana',]
str1.sort()
print('Sorted strings ',str1)
print(str1.index('kiwi'))

Sorted strings  ['apple', 'banana', 'kiwi', 'orange']
2

In [7]:
print('Maximum value in the string is',max(str1))
print('Minimum value in the string is',min(str1))

Maximum value in the string is orange
Minimum value in the string is apple