# Set
-->Mutable Data Type
-->Collection of unique data items
-->Changeble,unordered,unindexed
-->Duplicate values not allowed
-->Enclosed with {}

In [2]:
S={1,4,2,67,4,9,6}

print(S)   #To print set
print(type(S)) #To get the type of Set

{1, 2, 67, 4, 6, 9}
<class 'set'>

In [8]:
X={1,8,5,56,23,5} #Duplicate Values not allowed
print(X)
X.add(51)    #To add element
print(X)
X.update((10,20))  #To add new values to a set
print(X)
X.discard(22)  #Used to remove element if value is present else displays set
print('Discarded Value',X)          #without error
X.pop()     #randomly deletes value
print(X)
X.remove(23)  #To remove an element from set
print(X)


del X #To delete set
print(X)

{1, 5, 23, 8, 56}
{1, 51, 5, 23, 8, 56}
{1, 51, 10, 5, 20, 23, 8, 56}
Discarded Value {1, 51, 10, 5, 20, 23, 8, 56}
{51, 10, 5, 20, 23, 8, 56}
{51, 10, 5, 20, 8, 56}

NameError: name 'X' is not defined

In [12]:
s1={11,33,250,5,8,67,59,30}
s2={1,233,1250}
print(s2.issubset(s1))   #Return True if s2 data contains in s1 set
print(s1.issuperset(s2))   #Returns True if s1 set data contains in s2
print(s1.isdisjoint(s2))   #Returns True if none of the items are present in both sets else returns false

False
False
True

In [14]:
Q={89,23,45,56,67} #sets are unordered therefore we cannot retrieve elements
print(Q[1:3])        #using index value

TypeError: 'set' object is not subscriptable

In [5]:
C=set([1,2,3,4,7]) #list is converted into set
print(C)
Ch=['hello']
print(set(Ch))
H='MadaM'
print(type(H))
#S=set(H)
print(set(H))
    d={1:'vikram',2:'suja',3:'kanna'}
print(set(d))
print(set(d.values()))
print(set(d.items()))

{1, 2, 3, 4, 7}
{'hello'}
<class 'str'>
{'M', 'd', 'a'}
{1, 2, 3}
{'kanna', 'vikram', 'suja'}
{(1, 'vikram'), (2, 'suja'), (3, 'kanna')}

In [3]:
S1={10,20,30,40,50}
S1.add('mega')
print(S1)#Elements in Frozendata type cannot be modified
s2=frozenset(S1)
print(s2)
#print(S2)
s2.add(70)
print(s2)

{50, 20, 40, 10, 'mega', 30}
frozenset({50, 20, 40, 10, 'mega', 30})

AttributeError: 'frozenset' object has no attribute 'add'

In [14]:
S3=frozenset('hello')
print(S3)

frozenset({'l', 'h', 'e', 'o'})

# Set Operators
*Union
*Intersection
*Difference
*Symmetric Difference

In [10]:
#Union Operator-Combines both sets together
Set1={1,3,4,6,8,9}
Set2={1,67,3,89,9}
Z=Set1|Set2
print(Z)
Z1=Set1.union(Set2)
print(Z1)

{1, 3, 4, 67, 6, 8, 9, 89}
{1, 3, 4, 67, 6, 8, 9, 89}

In [37]:
#Intersection - prints common elements
Z=Set1.intersection(Set2)
print(Z)
Z2=Set1&Set2
print(Z2)

{1, 3, 9}
{1, 3, 9}

In [43]:
#Difference - neglects elements which is not in another set
Z3=Set1-Set2
print(Z3)
Z4=Set1.difference(Set2)
print(Z4)
Z5=Set2.difference(Set1)
print(Z5)
Z6=Set2-Set1
print(Z6)

{8, 4, 6}
{8, 4, 6}
{89, 67}
{89, 67}

In [14]:
#Symmetric Difference-Displays element which are not common in both set
Set1={1,3,4,6,8,9}
Set2={1,67,3,89,9}
A1=Set1^Set2
print(A1)
A2=Set1.symmetric_difference(Set2)
print(A2)
Set1.clear()
print(Set1)

{89, 67, 4, 6, 8}
{89, 67, 4, 6, 8}
set()

In [6]:
S={1,3,4,5}
S.clear()     #Clears Set
print(S)

set()